.container-project{
    width: 315px;
    height: 340px;
    background: rgb(51, 49, 49);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    color: white;
    text-align: center;
    font-size: 15px;  
}

.container-project:hover{
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    transition: 1s;
}
