@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(32, 31, 31);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.mainimg{
    display: flex;
    justify-content: flex-end;
    margin-top: -23vw;
    margin-right: 5vw;
}

.img{
    height: 450px;
    width: 500px;
}

@media(min-width: 757px) and (max-width: 845px){
    .mainimg{
        margin-top: 5vw;
        justify-content: center;
        margin-left: 8vw;
    }
}

@media(min-width: 668px) and (max-width: 756px){
    .mainimg{
        margin-top: 5vw;
        justify-content: center;
        margin-left: 8vw;
    }
    .img{
        height: 300px;
        width: 350px;
    }
}

@media(min-width: 577px) and (max-width: 667px){
    .mainimg{
        margin-top: 5vw;
        justify-content: center;
        margin-left: 8vw;
    }
    .img{
        height: 300px;
        width: 350px;
    }
}

@media(min-width: 488px) and (max-width: 577px){
    .mainimg{
        margin-top: 5vw;
        justify-content: center;
        margin-left: 8vw;
    }
    .img{
        height: 300px;
        width: 350px;
    }
}

@media (max-width: 487px){
    .mainimg{
        margin-top: 5vw;
        justify-content: center;
        margin-left: 8vw;
    }
    .img{
        height: 300px;
        width: 350px;
    }
}